@font-face {
  font-family: "Comic Sans MS";
  src: url("../fonts/ComicSansMS.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 1;
  margin: 0;
  overflow-y: scroll;
  color: #3a3a3a;
  background: url(../assets/paper-bg.webp) top center repeat;
  background-color: #ffffff;
}
body.hidden {
  overflow: hidden;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: #3a3a3a;
}
@media (max-width: 992px) {
  h2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 164%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h3 {
    font-size: 18px;
    line-height: 133%;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Comic Sans MS", sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1380px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #3a3a3a;
  border: none;
  background: url(../assets/button-white.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.button_primary {
  color: #ffffff;
  background-image: url(../assets/button-red.svg);
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(1);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px 0;
}
.header .container {
  display: flex;
  align-items: center;
  min-height: 70px;
}
.header__logo {
  flex: 0 0 auto;
}
@media (max-width: 576px) {
  .header__logo {
    display: none;
  }
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  display: block;
  max-width: 100%;
}
.header__main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}
@media (max-width: 576px) {
  .header__main {
    justify-content: space-between;
    gap: 20px;
  }
}
.header__social {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .header__social {
    gap: 2px;
  }
}
.header__social-link {
  display: inline-block;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 768px) {
  .header__social-link {
    height: 46px;
    width: 46px;
  }
}
.header__social-link_x {
  background-image: url(../assets/x.png);
}
.header__social-link_tg {
  background-image: url(../assets/tg.png);
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #fff;
  border: none;
  background: url(../assets/button-red.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__button {
    width: 150px;
    height: 50px;
    background-image: url(../assets/button-red-sm.svg);
  }
}
.header__button:hover {
  transform: scale(1.02);
}
.header__button:active {
  transform: scale(1);
}

.main {
  padding-top: 100px;
}

.footer {
  padding: 50px 0;
  background-color: #202020;
}
.footer__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
}

.main-screen {
  position: relative;
  padding: 62px 0 100px;
}
@media (max-width: 576px) {
  .main-screen {
    padding: 20px 0 200px;
  }
}
@media (max-width: 576px) {
  .main-screen::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 40px;
    width: 194px;
    height: 139px;
    background: url(../assets/main-screen-shhh.svg) center no-repeat;
    background-size: contain;
    transform: translateX(-50%);
  }
}
.main-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
@media (max-width: 576px) {
  .main-screen .container {
    padding: 0;
  }
}
.main-screen__logo {
  display: none;
}
@media (max-width: 576px) {
  .main-screen__logo {
    display: inline-block;
  }
}
.main-screen__image {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.text-section {
  padding: 50px 0;
  background-color: #202020;
}
@media (max-width: 576px) {
  .text-section {
    padding: 20px 0;
  }
}
.text-section__text {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .text-section__text {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 250%;
  }
}
.text-section__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-section__button {
  display: inline-block;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #3a3a3a;
  border: none;
  background: url(../assets/button-white.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.text-section__button:hover {
  transform: scale(1.02);
}
.text-section__button:active {
  transform: scale(1);
}

.about-token {
  position: relative;
  padding: 185px 0 230px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .about-token {
    padding: 100px 0 60px;
  }
}
@media (max-width: 768px) {
  .about-token {
    padding: 80px 0 20px;
  }
}
.about-token::before {
  content: "";
  position: absolute;
  top: 52px;
  right: 73%;
  display: block;
  width: 412px;
  height: 559px;
  background: url(../assets/about-left-bg.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 1380px) {
  .about-token::before {
    right: 80%;
  }
}
@media (max-width: 992px) {
  .about-token::before {
    display: none;
  }
}
.about-token::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 70%;
  display: block;
  width: 426px;
  height: 811px;
  background: url(../assets/about-right-bg.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 1380px) {
  .about-token::after {
    left: 82%;
  }
}
@media (max-width: 992px) {
  .about-token::after {
    display: none;
  }
}
.about-token .container {
  position: relative;
}
.about-token__coin {
  position: absolute;
  left: -200px;
  bottom: -170px;
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-15deg);
}
@media (max-width: 1380px) {
  .about-token__coin {
    left: -100px;
    bottom: -280px;
  }
}
@media (max-width: 992px) {
  .about-token__coin {
    position: static;
    margin: 0 auto 33px;
    transform: none;
  }
}
.about-token__coin-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.about-token__title {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 60px;
  line-height: 67%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 768px) {
  .about-token__title {
    margin: 0 0 14px;
    font-size: 40px;
    line-height: 100%;
  }
}
.about-token__address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 536px;
  margin: 0 auto 20px;
  aspect-ratio: 8/1;
  background: url(../assets/address-bg.svg) center no-repeat;
  background-size: contain;
}
@media (max-width: 576px) {
  .about-token__address {
    gap: 4px;
    width: 320px;
  }
}
.about-token__address-text, .about-token__address-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 576px) {
  .about-token__address-text, .about-token__address-number {
    font-size: 11px;
  }
}
.about-token__address-button {
  display: inline-block;
  width: 81px;
  aspect-ratio: 2/1;
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #fff;
  border: none;
  background: url(../assets/copy-button.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .about-token__address-button {
    width: 50px;
    font-size: 11px;
  }
}
.about-token__address-button:hover {
  transform: scale(1.02);
}
.about-token__address-button:active {
  transform: scale(1);
}
.about-token__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
.about-token__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  color: #fff;
  background: url(../assets/tag-bg.svg) center no-repeat;
  background-size: contain;
}
.about-token__text {
  max-width: 550px;
  margin: 20px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  color: #000;
}
.about-token__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-token__button {
  display: inline-block;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #3a3a3a;
  border: none;
  background: url(../assets/button-white.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.about-token__button:hover {
  transform: scale(1.02);
}
.about-token__button:active {
  transform: scale(1);
}

.tokenomic {
  padding: 100px 0 70px;
}
@media (max-width: 768px) {
  .tokenomic {
    padding: 65px 0 90px;
  }
}
.tokenomic__title {
  margin: 0 0 48px;
  font-weight: 400;
  font-size: 60px;
  line-height: 67%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 768px) {
  .tokenomic__title {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 133%;
  }
}
.tokenomic__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
}
.tokenomic__figure-image {
  max-width: 100%;
  height: auto;
}
.tokenomic__figure-image_lg {
  display: block;
}
@media (max-width: 768px) {
  .tokenomic__figure-image_lg {
    display: none;
  }
}
.tokenomic__figure-image_sm {
  display: none;
}
@media (max-width: 768px) {
  .tokenomic__figure-image_sm {
    display: block;
  }
}

.country {
  padding: 100px 0 0;
}
@media (max-width: 768px) {
  .country {
    padding-top: 50px;
  }
}
.country__title {
  margin: 0 0 31px;
  font-weight: 400;
  font-size: 60px;
  line-height: 67%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 768px) {
  .country__title {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 133%;
  }
}
.country__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
}
.country__figure-image {
  max-width: 100%;
  height: auto;
}

@keyframes loading {
  0% {
    max-height: 100%;
  }
  10% {
    max-height: 90%;
  }
  25% {
    max-height: 80%;
  }
  40% {
    max-height: 70%;
  }
  80% {
    max-height: 50%;
  }
  90% {
    max-height: 30%;
  }
  100% {
    max-height: 0%;
  }
}
.red-button {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
}
.red-button__figures {
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.red-button__figure_front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  animation-name: loading;
  animation-duration: 4s;
}
.red-button__figure-image {
  max-height: 70vh;
}
.red-button__text {
  max-width: 960px;
  min-height: 80px;
  margin: 27px auto 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
}
@media (max-width: 576px) {
  .red-button__text {
    min-height: 96px;
    margin: 16px auto 0;
    font-size: 24px;
    line-height: 32px;
  }
}

.modal-disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.modal-disclaimer.active {
  z-index: 300;
  display: flex;
  opacity: 1;
}
.modal-disclaimer__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 564px;
  aspect-ratio: 2.3305785/1;
  padding: 40px;
  box-sizing: border-box;
  background: url(../assets/modal-bg.svg) center no-repeat;
  background-size: contain;
}
@media (max-width: 576px) {
  .modal-disclaimer__body {
    padding: 10px;
    width: 320px;
  }
}
.modal-disclaimer__text {
  max-width: 90%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
@media (max-width: 576px) {
  .modal-disclaimer__text {
    font-size: 14px;
  }
}
.modal-disclaimer__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modal-disclaimer__button {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
  border: none;
  background: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .modal-disclaimer__button {
    font-size: 14px;
  }
}
.modal-disclaimer__button_yes {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.presale-soon {
  padding: 247px 0 287px;
}
@media (max-width: 768px) {
  .presale-soon {
    padding: 130px 0 155px;
  }
}
.presale-soon .container {
  position: relative;
}
.presale-soon__content {
  max-width: 647px;
}
@media (max-width: 1380px) {
  .presale-soon__content {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .presale-soon__content {
    max-width: none;
  }
}
.presale-soon__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 60px;
  line-height: 127%;
  letter-spacing: -0.05em;
  text-align: left;
  color: #000;
}
@media (max-width: 1380px) {
  .presale-soon__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
  }
}
@media (max-width: 992px) {
  .presale-soon__title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .presale-soon__title {
    font-size: 40px;
  }
}
.presale-soon__figure {
  position: absolute;
  top: 0;
  right: 0;
  max-width: calc(100% - 647px - 60px);
}
@media (max-width: 1380px) {
  .presale-soon__figure {
    max-width: calc(50% - 24px);
  }
}
@media (max-width: 992px) {
  .presale-soon__figure {
    position: static;
    display: flex;
    justify-content: center;
    max-width: none;
    margin: 0 0 25px;
  }
}
.presale-soon__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.presale-soon__text {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 992px) {
  .presale-soon__text {
    text-align: center;
  }
}
.presale-soon__text-initial {
  display: block;
}
.presale-soon__text.active .presale-soon__text-initial {
  display: none;
}
.presale-soon__text-translated {
  display: none;
}
.presale-soon__text.active .presale-soon__text-translated {
  display: block;
}
.presale-soon__controls {
  display: flex;
  gap: 25px;
}
@media (max-width: 992px) {
  .presale-soon__controls {
    flex-direction: column;
    align-items: center;
  }
}
.presale-soon__controls-links {
  display: flex;
  gap: 10px;
  padding-top: 16px;
}
@media (max-width: 992px) {
  .presale-soon__controls-links {
    padding: 0;
  }
}
.presale-soon__controls-link {
  display: inline-block;
  height: 64px;
  width: 64px;
  background: url(../assets/social-button.svg) center no-repeat;
  background-size: 100%;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
.presale-soon__controls-link:hover {
  transform: scale(1.02);
}
.presale-soon__controls-link:active {
  transform: scale(1);
}
.presale-soon__controls-link::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}
.presale-soon__controls-link_x::before {
  background-image: url(../assets/x.png);
}
.presale-soon__controls-link_tg::before {
  background-image: url(../assets/tg.png);
}

.join-us {
  padding: 150px 0;
}
@media (max-width: 768px) {
  .join-us {
    padding: 30px 0 105px;
  }
}
.join-us .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .join-us .container {
    display: block;
  }
}
.join-us__content {
  flex: 0 1 486px;
}
.join-us__content-title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 122%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}
@media (max-width: 1380px) {
  .join-us__content-title {
    font-size: 50px;
    line-height: 150%;
  }
}
@media (max-width: 992px) {
  .join-us__content-title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .join-us__content-title {
    font-size: 40px;
  }
}
.join-us__content-text {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 992px) {
  .join-us__content-text {
    text-align: center;
  }
}
.join-us__content-buttons {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .join-us__content-buttons {
    justify-content: center;
  }
}
.join-us__figure {
  flex: 0 1 512px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-us__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.login {
  padding: 60px 0 160px;
}
.login .container {
  position: relative;
}
.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 735px;
  height: 740px;
}
@media (max-width: 1380px) {
  .login__content {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .login__content {
    max-width: none;
    height: auto;
  }
}
.login__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 60px;
  line-height: 103%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
@media (max-width: 1380px) {
  .login__title {
    max-width: none;
    height: auto;
    font-size: 50px;
    line-height: 150%;
  }
}
@media (max-width: 992px) {
  .login__title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .login__title {
    font-size: 40px;
  }
}
.login__figure {
  position: absolute;
  right: 20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
@media (max-width: 1380px) {
  .login__figure {
    width: calc(50% - 30px);
  }
}
@media (max-width: 992px) {
  .login__figure {
    position: static;
    width: auto;
    transform: none;
  }
}
.login__figure-image {
  display: block;
}
.login__buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
.login__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}