.country {
  padding: 100px 0 0;

  @include tablet {
    padding-top: 50px;
  }

  &__title {
    margin: 0 0 31px;
    font-weight: 400;
    font-size: 60px;
    line-height: 67%;
    letter-spacing: -0.05em;
    color: #000;

    @include tablet {
      margin: 0 0 20px;
      font-size: 30px;
      line-height: 133%;
    }
  }

  &__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -20px;

    &-image {
      max-width: 100%;
      height: auto;
    }
  }
}