@keyframes loading {
  0% {
    max-height: 100%;
  }
  10% {
    max-height: 90%;
  }
  25% {
    max-height: 80%;
  }
  40% {
    max-height: 70%;
  }
  80% {
    max-height: 63%;
  }
  90% {
    max-height: 43%;
  }
  100% {
    max-height: 0%;
  }
}

.red-button {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white;
  padding: 20px;
  display: none;

  &__figures {
    position: relative;
    margin: 0 auto;
    width: fit-content;
  }

  &__figure {
    &_front {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-height: 0;
      overflow: hidden;
      animation-name: loading;
      animation-duration: 4s;
    }

    &-image {
      max-height: 70vh;
    }
  }

  &__text {
    max-width: 960px;
    min-height: 80px;
    margin: 27px auto 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #000;

    @include mobile {
      min-height: 96px;
      margin: 16px auto 0;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
